.box{
    margin: 3px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(238, 250, 250) 25%, rgb(248, 247, 247) 25%);
}
.r{
    margin-left: 5%;
    color: rgb(0, 239, 239);
    text-shadow: 1px 1px 0 #000;
    height: 10px;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;

    font-family: "ABeeZee", sans-serif;
}
.d{
    margin-left: 10%;
    color: rgb(0, 239, 239);
    text-shadow: 1px 1px 0 #000;
    height: 10px;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    font-family: "ABeeZee", sans-serif;
}
.photo{
    width: 17%;
    height: 10%;
    border: 1px solid black;
    border-radius: 15%;
    position: absolute;
    right: 30px;
    top: 40px;
}
.role{
    font-size: 16px;
    margin-top: 15%;
    margin-left: 6%;
    color: rgb(67, 67, 67);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}
.edu{
    color:rgb(36, 36, 36);
    height: 12px;
    margin-left: 6%;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "Calistoga", serif;
}
.abt1{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.abt1x{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 9%;
    font-size: 14px;
    color: rgb(30, 30, 30);
}
.abt2{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.abt2x{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 9%;
    font-size: 14px;
    color: rgb(30, 30, 30);
}
.sk{
    color:rgb(36, 36, 36);
    height: 8px;
    margin-left: 6%;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "Calistoga", serif;
}
.sk1{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.sk2{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.sk3{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.sk3x{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 9%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.sk4{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.sk4x{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 9%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.in{
    color:rgb(36, 36, 36);
    height: 2px;
    margin-left: 6%;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    font-family: "Calistoga", serif;
}
.in1{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.in2{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.in3{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.in4{
    font-family: "Bricolage Grotesque", sans-serif;
    margin-left: 6%;
    font-size: 16px;
    color: rgb(30, 30, 30);
}